@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var root = Model.Content.Site(); }

<ul class="navbar-nav ml-auto nav">
	<li class="nav-item @((Model.Content.Name == root.Name) ? "active" : null)">
		<a class="nav-link" href="/">@root.Name</a>
	</li>

	@{
		var selection = Model.Content.Site().Children()
							.Where(x => x.IsVisible());
	}

	@{ var select = root.Children("projectsOverview").Where(x => x.IsVisible()).ToArray();

	}


	
		@foreach (var menuItem in selection)
		{
			if (menuItem.Children().Where(x => x.IsVisible()).Count() > 0  && menuItem.Name != "Articles" && menuItem.Name != "Contact Us")
			{

	<li class="dropdown">
		<a class="dropdown-toggle  nav-link @((Model.Content.Name == menuItem.Name) ? "active" : null)" data-toggle="dropdown" role="button" href="@menuItem.Url">@menuItem.Name <b class="caret"></b></a>
		<ul class="dropdown-menu navbar-link">
			@foreach (IPublishedContent subMenuItem in menuItem.Children)
			{
				if (subMenuItem.DocumentTypeAlias == "projectItem")
				{

					if (umbraco.library.
						GetPreValueAsString(subMenuItem
						.GetPropertyValue<int>("projectStatus")) == "Completed"
						)
					{
						if (subMenuItem.GetPropertyValue<int>("umbracoNaviHide") == 0)
						{

							<li class="nav-item">
								<a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a>
							</li>
						}

					}

				}
				else
				{

					if (subMenuItem.GetPropertyValue<int>("umbracoNaviHide") == 0)
					{

						<li class="nav-item">
							<a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a>
						</li>
					}
				}



			}
		</ul>
	</li>
	}
	else
	{
	<li class="nav-item @((Model.Content.Name == menuItem.Name) ? "active" : null)">
		<a class="nav-link" href="@menuItem.Url">@menuItem.Name</a>
	</li>
	}

	}

</ul>





