@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	Layout = "Master.cshtml";
}

@{ var memberService = ApplicationContext.Current.Services.MemberService; }
@{ var members = memberService.GetMembersByGroup("Active"); }

<div class="col-md-2 col-md-offset-1">
	@foreach (var member in members)
	{
		if (member.GetValue("photo") != null)
		{
			string image = member.GetValue<string>("photo");
			if (image != null)
			{
				ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
				string imagePath = imageCrop.Src.GetCropUrl(width: 100);
				<img src="@imagePath" />
			}

			<p>
				@member.GetValue("imagePickerPhoto")	@member.Name <br>
				@member.GetValue("address")<br>
				@member.GetValue("zip") @member.GetValue("city") <br>
				@member.Email<br>
				@*Skills:
					@{
						String[] skills = member.GetValue("skills").ToString().Split(',');
						string skillString = string.Join(",", from skill in skills
								select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
						<span>@skillString</span>
					}*@
			</p>
		}
	}
</div>
